.main {
  margin-top: 5em;
}
.center {
  justify-content: center;
  padding: 10px;
}
.ui.search input {
  width: 100%;
  border-radius: 0;
}
.item {
  padding: 1rem 0rem !important;
}

.icon {
  float: right;
  cursor: pointer;
}
.center-div {
  text-align: center;
}
.btn-space {
  margin-bottom: 0.5rem !important;
}
